{extend name="layout/main" /}
{block name="ext_css"}
{load href="/static/AdminLTE-2.3.6/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"}
{/block}
{block name="content"}
  <div class="col-sm-8">
    <div class="box box-solid">
      <div class="box-header with-border">
        <i class="fa fa-edit"></i>
        <h3 class="box-title"> 请假申请</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <form class="form-horizontal" id="apply_form" role="form">
            <div class="form-group">
              <label class="control-label col-sm-2">标题</label>
              <div class="col-sm-8">
                <input type="text" name="title" class="form-control" value="{$data['title']}" placeholder="输入标题" readonly/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">请假时间*</label>
              <div class="col-sm-3">
                <input type="text" class="form-control pull-right date-picker" name="start_time" placeholder="请假开始时间" data-date-format="yyyy-mm-dd">
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control pull-right date-picker" name="end_time" placeholder="请假结束时间" data-date-format="yyyy-mm-dd hh:ii">
              </div>       
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">请假天数*</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="leave_day" onchange="get_confirm()" data-toggle="tooltip" data-placement="bottom" title="大于3.5小时为请假1天，小于3.5小时为请假0.5天" placeholder="请假天数(单位0.5天)"></input>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">请假类型*</label>
              <div class="col-sm-8">
                <ul class="list-unstyled list-inline radio">
                  {foreach $config['param']['leave_type'] as $type => $name}
                    <li><label><input type="radio" name="leave_type" value="{$type}"> <span>{$name}</span></label></li>
                  {/foreach}
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">请假说明*</label>
              <div class="col-sm-8">
                <textarea class="form-control" name="describe" rows="5"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2"></label>
              <div class="col-sm-8">
                <div id="form_confirm"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <a type="button" class="btn btn-primary btn_submit" onclick="submit()"><span class="glyphicon glyphicon-ok"></span> 提交</a>
                <div id="check_result" class="hide ml10" style="display:inline;">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    <span class="text text-danger"></span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{/block}
{block name="ext_js"}
  {load href="/static/AdminLTE-2.3.6/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js"}
  {load href="/static/AdminLTE-2.3.6/plugins/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"}
  <script>
  $(function(){  
    $(".date-picker").datetimepicker({
      language:'zh-CN',
      format: "yyyy-mm-dd hh:ii",
      autoclose: true,
      todayBtn: true,
      minuteStep: 10
    });
  });

  get_confirm();
  function get_confirm()
  {
    var obj_form = $('#apply_form');
    var leave_day = obj_form.find('input[name="leave_day"]').val();
    $.get("{:url('/leave/confirm')}", {leave_day:leave_day}, function(html){
      $('#form_confirm').html(html);
    });
  }
  function submit()
  {
    sendForm("apply_form","{:url('/leave/submit')}", 0);
  }
  </script>
{/block}