{extend name="layout/main" /}
{block name="content"}
  <div class="box box-solid">
    <div class="box-header with-border">
      <i class="fa fa-edit"></i>
      <h3 class="box-title"> 申请类型</h3>
    </div>
    <div class="box-body">
      {foreach name="tag_list" item="tags"} 
        <div class="ibox float-e-margins" gid="{$key}">
          <div class="ibox-title">
            <h5 class="smaller">{$key}</h5>
          </div>
          <div class="ibox-content clearfix">
            {foreach name="tags" item="tag"}
              <div class="col-sm-3 col-xs-6 text-center">
                <a class="btn btn-info btn-block" href="{:url('/flow/apply/'.$tag.type)}">{$tag.name}</a>
                <div class="space-8"></div>
              </div>
            {/foreach}
          </div>
        </div>
      {/foreach}
    </div>
{/block}
